.list_title
	%h1="Movies"
=link_to "+ Add new movie", new_movie_path, id: "add_movie_btn"
%select#movie_order
	%option{value: 1}="Alphabetical"
	%option{value: 2}="Year"
	%option{value: 3}="Runtime"
%table.list{cellspacing: 0}
	%tr.header_row
		%th="Movie Title"
		%th="Dir."
		%th="Year"
		%th="Rating"
		%th="Runtime"
		%th="Best Picture Winner"
		%th="Best Picture Nominee"
		%th="Seen"
		%th="Subtitles"
		%th
	-@movies.each do |movie|
		%tr
			%td=link_to "#{movie.movie_title}", edit_movie_path(movie.id)
			%td
				-MovieDirector.where(movie_id: movie.id).each do |director|
					%div="#{Director.find(director.director_id).first_name} #{Director.find(director.director_id).last_name}"
			%td="#{movie.year}"
			%td="#{Rating.find(movie.rating_id).rating}"
			%td="#{movie.runtime} minutes"
			%td=movie.best_picture_winner ? "Yes" : "No"
			%td=movie.best_picture_nominee ? "Yes" : "No"
			%td=movie.seen ? "Yes" : "No"
			%td=movie.subtitles ? "Yes" : "No"
			%td=link_to 'Delete', movie,  method: :delete, data: { confirm: 'Are you sure?' }