.list_title
	%h1="Movies"
=link_to "+ Add new movie", new_movie_path, id: "add_movie_btn"
=will_paginate @movies
%table.list.fullwidth{cellspacing: 0}
	%tr.header_row
		%th=sortable "movie_title", "Movie Title"
		%th="Dir."
		%th=sortable "year", "Year"
		%th=sortable "rating", "Rating"
		%th=sortable "runtime", "Runtime"
		%th=sortable "best_picture_winner", "BP Winner"
		%th=sortable "best_picture_nominee", "BP Nominee"
		%th=sortable "seen", "Seen"
		%th=sortable "subtitles", "Subtitles"
		%th="Tags"
		%th
	-@movies.each do |movie|
		%tr
			%td=link_to "#{movie.movie_title}", edit_movie_path(movie.id)
			%td
				-movie.directors.each do |d|
					%div="#{d.name}"
			%td="#{movie.year}"
			%td="#{movie.rating.rating}"
			%td="#{movie.runtime} minutes"
			%td=movie.best_picture_winner ? "Yes" : "No"
			%td=movie.best_picture_nominee ? "Yes" : "No"
			%td=movie.seen ? "Yes" : "No"
			%td=movie.subtitles ? "Yes" : "No"
			%td=link_to "View", "/movies/#{movie.id}/tags"
			%td=link_to 'Delete', movie,  method: :delete, data: { confirm: 'Are you sure?' }